.my_nav_bar{
    top: 0;
    position: sticky;
    z-index: 99999;
}

marqueestyle{
    
    width: 60%;
    height: 100px; 
}
body{
    
    color: orange;
    align-content: flex-start;
}

schoolimg{
    
    height: 500px;
    width: 1000px;
}
.movie_text{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    
}
.movie_text i{
    float: right;
    
}
.movie_text span{
    color: yellow;
}
